<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the homepage </h1>
    <h3><%= ["hello","namaste","salam"][2] %></h3>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore distinctio veniam dolor, doloribus vel cumque repellat quis at tempora corporis nihil possimus ex odio iure ratione officiis aut dicta voluptatibus eius recusandae mollitia facere explicabo deleniti. Velit voluptate cumque natus aliquid, sapiente quibusdam placeat asperiores blanditiis, tenetur illo, iusto eligendi dolorem fugiat. Eum est dicta quam, nisi totam voluptates hic aperiam, dolorum laborum harum quo quae labore exercitationem? Ad exercitationem sapiente quo deserunt voluptates consequatur.
    </p>
    <button>click me!</button>
</body>
</html>